<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/principal"><img src="/img/conecta-faetec.png" width="80" height="40" class="d-inline-block align-top" alt=""> </a>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/docentes">Postagens</a> <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/escola">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/suaconta">Seu Perfil</a>
      </li>
     

    </ul>      
  </div>
  

  
</nav>